/**** MISC. ****/
body { font-family: "Poppins", sans-serif; font-weight: 300; }

a:hover, a:focus { text-decoration: none; }

.navbar-dark .navbar-toggler { border: none; }
.navbar-dark .navbar-toggler svg { color: #FCA600; transition: all 1s; }

.navbar-toggler:focus, .navbar-toggler:hover { outline: none; }
.navbar-toggler:focus svg, .navbar-toggler:hover svg { color: #fff; transition: all 1s; }

.navbar-toggler.collapsed svg { color: #FCA600; transition: all 1s; }

.container-fluid { padding: 0; }

.card { border: none; border-radius: 0; }

.explore-btn { background-color: #FCA600; color: #fff; text-transform: uppercase; border-radius: 0; font-size: 0.9rem; padding: 0.375rem; margin: 0 0.5rem; transition: all 500ms; }
.explore-btn svg { background-color: #fff; color: #FCA600; width: 2rem; height: 2rem; padding: 0.25rem; margin-left: 0.5rem; transition: all 500ms; }

.explore-btn:hover { background-color: #2E2E2E; color: #fff; }
.explore-btn:hover svg { background-color: #FCA600; color: #fff; }

.explore-btn:focus { box-shadow: none; background-color: #2E2E2E; color: #fff; }
.explore-btn:focus svg { background-color: #fff; color: #1B1718; }

.section-header { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-bottom: 2rem; }
.section-header .section-title-md { font-size: 2.5rem; color: #1B1718; font-family: "DM Serif Display", serif; margin-bottom: 0; }
.section-header .section-title-md span { color: #FCA600; }
.section-header .section-title-sm { font-size: 1.8rem; color: #1B1718; font-family: "DM Serif Display", serif; margin-bottom: 0; }
.section-header .section-title-sm span { color: #FCA600; }

.section-body { display: flex; flex-wrap: wrap; justify-content: space-between; }

.section-m-p { margin: 2rem 0; padding: 2rem 5rem; }

.no_gutter { padding: 0; }

/**** NAVIGATION BAR ****/
.navbar { background-color: #1B1718; padding: 0rem 5rem; }
.navbar .navbar-brand img { width: 14rem; }
.navbar .navbar-nav { align-items: center; }
.navbar .navbar-nav .nav-item { margin-right: 5px; }
.navbar .navbar-nav .nav-item .nav-link { color: #fff; font-weight: 200; }
.navbar .navbar-nav .nav-item .dropdown-toggle::after { display: initial; position: absolute; bottom: 0; left: 39%; }
.navbar .navbar-nav .nav-item .dropdown-menu { background-color: #2E2E2E; padding: 0; }
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item { color: #fff; padding: 0.375rem 0.5rem; transition: all 500ms; font-size: 0.9rem; }
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus { background-color: #1B1718; color: #FCA600; }
.navbar .navbar-nav .nav-item.active .nav-link { color: #FCA600; }
.navbar .navbar-nav .nav-item:last-child { background-color: #FCA600; }
.navbar .navbar-nav .nav-item:last-child .nav-link { color: #1B1718; display: grid; padding: 0.6rem 1.5rem 1.8rem 1.5rem; font-size: 0.8rem; font-weight: 700; text-align: center; position: relative; }
.navbar .navbar-nav .nav-item:last-child .nav-link svg { margin: 0 auto; }
.navbar .navbar-nav .nav-item:last-child .nav-link:after { content: " "; position: absolute; width: 0.5rem; height: 0.5rem; border-radius: 5rem; bottom: 1.2rem; left: 47%; background-color: #111; }

/**** PAGE MAST HEAD ****/
.page-mast-head .card-img-overlay { background-color: rgba(17, 17, 17, 0.9); border-radius: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.page-mast-head .card-img-overlay .page-title { font-family: "DM Serif Display", serif; font-size: 3rem; color: #FCA600; position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.page-mast-head .card-img-overlay .page-title:before { content: " "; height: 0.5rem; width: 0.5rem; background-color: #201e1a; border: 2px solid #fca600; border-radius: 5rem; z-index: 999; display: flex; margin: 4.36rem auto -4.36rem; }
.page-mast-head .card-img-overlay .page-title:after { content: " "; height: 1px; background-color: #FCA600; width: 2rem; display: flex; margin: 0.5rem auto; }

/**** HOME PAGE ****/
.home_main_slider { background-color: #1B1718; padding: 2rem 5rem 0rem 5rem; }
.home_main_slider .main_slider_header { margin: 2rem 0; height: auto; overflow: auto; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.home_main_slider .main_slider_header h1 { font-family: "DM Serif Display", serif; font-size: 3rem; color: #fff; width: 33%; margin-bottom: 1rem; }
.home_main_slider .main_slider_header h1 span { color: #FCA600; }
.home_main_slider .main_slider_header .main_slider_controls { height: 5rem; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.home_main_slider .main_slider_header .main_slider_controls p { font-family: "DM Serif Display", serif; font-size: 2.5rem; margin: 0 0.5rem; color: #2E2E2E; }
.home_main_slider .main_slider_header .slider-nav-btn { margin: 0 0.5rem; }
.home_main_slider .main_slider_header .slider-nav-btn a { background-color: #fff; padding: 0.25rem 0.5rem; border-radius: 0; transition: all 500ms; }
.home_main_slider .main_slider_header .slider-nav-btn a svg { color: #1B1718; width: 1.5rem; height: 1.5rem; transition: all 500ms; }
.home_main_slider .main_slider_header .slider-nav-btn a:hover { background-color: #2E2E2E; }
.home_main_slider .main_slider_header .slider-nav-btn a:hover svg { color: #FCA600; }
.home_main_slider .main_slider_header .slider-nav-btn a:focus { box-shadow: none; background-color: #2E2E2E; }
.home_main_slider .main_slider_header .slider-nav-btn a:focus svg { color: #FCA600; }
.home_main_slider .main_slider_header .slider-nav-btn a:active { box-shadow: none; background-color: #1B1718; transition: all 1s; }
.home_main_slider .card { background: transparent; }
.home_main_slider .card .card-img { position: relative; }
.home_main_slider .card .img-overlay { position: absolute; top: 44%; left: 46%; }
.home_main_slider .card .img-overlay a { background-color: #1B1718; padding: 1.5rem 1rem; border-radius: 5rem; transition: all 500ms; }
.home_main_slider .card .img-overlay a svg { color: #FCA600; width: 2.5rem; height: 2.5rem; padding: 0.25rem; border: 2px solid #FCA600; border-radius: 5rem; background-color: #1B1718; transition: all 500ms; }
.home_main_slider .card .img-overlay a:hover, .home_main_slider .card .img-overlay a:focus { background-color: #FCA600; }
.home_main_slider .card .img-overlay a:hover svg, .home_main_slider .card .img-overlay a:focus svg { color: #fff; border-color: #fff; background-color: #FCA600; }
.home_main_slider .card .btn-overlay { position: absolute; bottom: 1rem; right: 1rem; }
.home_main_slider .card .card-body { background-color: #2E2E2E; padding: 2rem 2rem 1rem 2rem; height: 25.8rem; }
.home_main_slider .card .card-body .card-title { color: #FCA600; text-transform: uppercase; letter-spacing: 3px; position: relative; }
.home_main_slider .card .card-body .card-title:before { content: ""; height: 3px; width: 1.9rem; background-color: #FCA600; position: absolute; left: 0; bottom: -0.35rem; }
.home_main_slider .card .card-body .card-text { color: #fff; font-weight: 200; font-size: 0.8rem; height: 12rem; margin-bottom: 2rem; overflow: auto; padding-right: 1rem; }
.home_main_slider .card .card-body .card-text::-webkit-scrollbar { width: 5px; background-color: transparent; }
.home_main_slider .card .card-body .card-text::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); background-color: #FCA600; }
.home_main_slider .card .card-body .card-text::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #1B1718; }
.home_main_slider .card .banner_thumbnails { display: flex; flex-wrap: nowrap; justify-content: space-between; }
.home_main_slider .card .banner_thumbnails .img-fluid { width: 31%; }

#homeMainSlider { clear: both; }

/**** HOME INTRO ****/
.esquare-intro .short-intro { width: 45%; }
.esquare-intro .experience-intro { display: flex; flex-wrap: wrap; justify-content: space-between; width: 30%; text-align: center; }
.esquare-intro .experience-intro h3 { font-size: 8rem; font-family: "DM Serif Display", serif; color: #FCA600; margin: 0; line-height: 1; text-align: center; }
.esquare-intro .experience-intro p { font-size: 1rem; margin: 0; font-weight: 500; }

/**** HOME MASTERPIECE ****/
.work-masterpiece { background-color: #F9F9F9; /* medium - display 2  */ /* large - display 3 */ }
.work-masterpiece .carousel-inner { width: 90%; margin-left: auto; }
.work-masterpiece .carousel-inner .carousel-item { display: flex; justify-content: space-between; align-items: flex-end; overflow: hidden; }
.work-masterpiece .carousel-inner .card { flex: 0 0 28.33%; max-width: 28.33%; backface-visibility: hidden; margin: 1rem; overflow: hidden; background-color: #fff; text-align: right; background: transparent; }
.work-masterpiece .carousel-inner .card .card-img { position: relative; border: 4px solid #FCA600; border-radius: 0; }
.work-masterpiece .carousel-inner .card .card-img .img-overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: flex; justify-content: center; align-items: center; }
.work-masterpiece .carousel-inner .card .card-img .img-overlay a { display: flex; flex-wrap: nowrap; justify-content: center; color: #1B1718; background-color: #FCA600; width: 100%; border-radius: 0; }
.work-masterpiece .carousel-inner .card .card-img .img-overlay a svg { width: 1.5rem; height: 1.5rem; margin-left: 0.5rem; border-radius: 1px; }
.work-masterpiece .carousel-inner .card .card-body { padding: 0; }
.work-masterpiece .carousel-inner .card .card-body .card-title { margin: 1rem 0 0 0; font-size: 1rem; }
.work-masterpiece .carousel-inner .card .card-body .card-text { font-size: 0.7rem; }
.work-masterpiece .carousel-inner .carousel-item .card:first-child { flex: 0 0 34.33%; max-width: 34.33%; }
.work-masterpiece .carousel-inner .carousel-item .card:first-child .card-body .card-title { font-size: 1.3rem; line-height: 0.8; }
.work-masterpiece .carousel-inner .carousel-item .card:first-child .card-body .card-text { font-size: 0.8rem; margin-top: 5px; }
.work-masterpiece .slider-ctrl { position: absolute; top: 1.5rem; right: 1rem; z-index: 10; }
.work-masterpiece .slider-ctrl a { background-color: #1B1718; padding: 0.25rem 0.5rem; border-radius: 0; transition: all 500ms; }
.work-masterpiece .slider-ctrl a svg { color: #fff; width: 1.5rem; height: 1.5rem; transition: all 500ms; }
.work-masterpiece .slider-ctrl a:hover { background-color: #FCA600; }
.work-masterpiece .slider-ctrl a:hover svg { color: #fff; }
.work-masterpiece .slider-ctrl a:focus { box-shadow: none; background-color: #FCA600; }
.work-masterpiece .slider-ctrl a:focus svg { color: #fff; }
.work-masterpiece .slider-ctrl a:active { box-shadow: none; background-color: #1B1718; transition: all 1s; }
@media (min-width: 768px) { .work-masterpiece .carousel-inner .carousel-item-right.active, .work-masterpiece .carousel-inner .carousel-item-next { transform: translateX(50%); }
  .work-masterpiece .carousel-inner .carousel-item-left.active, .work-masterpiece .carousel-inner .carousel-item-prev { transform: translateX(-50%); } }
@media (min-width: 992px) { .work-masterpiece .carousel-inner .carousel-item-right.active, .work-masterpiece .carousel-inner .carousel-item-next { transform: translateX(33%); }
  .work-masterpiece .carousel-inner .carousel-item-left.active, .work-masterpiece .carousel-inner .carousel-item-prev { transform: translateX(-33%); } }
@media (max-width: 768px) { .work-masterpiece .carousel-inner .carousel-item > div { display: block; }
  .work-masterpiece .carousel-inner .carousel-item > div:first-child { display: block; }
  .work-masterpiece .carousel-control-next, .work-masterpiece .carousel-control-prev { top: 42%; bottom: 42%; width: 2.5rem; } }
@media (max-width: 551px) { .work-masterpiece .carousel-inner .carousel-item > div { display: none; }
  .work-masterpiece .carousel-inner .carousel-item > div:first-child { display: block; } }
.work-masterpiece .carousel-inner .carousel-item.active, .work-masterpiece .carousel-inner .carousel-item-next, .work-masterpiece .carousel-inner .carousel-item-prev { display: flex; }
.work-masterpiece .carousel-inner .carousel-item-right, .work-masterpiece .carousel-inner .carousel-item-left { transform: translateX(0); }

/**** LATEST NEWS ****/
.latest-news .e-uniq { margin-top: 4rem; }
.latest-news .card { box-shadow: 1px 1px 10px -5px #999; }
.latest-news .card .card-img-top { border-radius: 0; }
.latest-news .card .card-body .card-title { font-size: 1rem; }
.latest-news .card .card-body .card-text { font-size: 0.9rem; }
.latest-news .card .card-body a { color: #FCA600; }
.latest-news .card .card-body .explore-a { font-size: 0.8rem; border-bottom: 1px solid #FCA600; }

/**** TESTIMONIALS ****/
.testimonials { background-color: #F9F9F9; /* medium - display 2  */ /* large - display 3 */ }
.testimonials .section-header div { display: inline-flex; }
.testimonials .section-header div > span { height: 3rem; font-size: 6rem; line-height: 1; font-family: "DM Serif Display", serif; color: #FCA600; background-color: #1B1718; padding: 0 0.25rem; }
.testimonials .section-header .section-title-md { margin-left: 0.5rem; }
.testimonials .section-header .slider-nav-btn { margin: 0 0.5rem; }
.testimonials .section-header .slider-nav-btn a { background-color: #FCA600; padding: 0.25rem 0.5rem; border-radius: 0; transition: all 500ms; margin-right: 0.25rem; }
.testimonials .section-header .slider-nav-btn a svg { color: #fff; width: 1.5rem; height: 1.5rem; transition: all 500ms; }
.testimonials .section-header .slider-nav-btn a:hover { background-color: #2E2E2E; }
.testimonials .section-header .slider-nav-btn a:hover svg { color: #FCA600; }
.testimonials .section-header .slider-nav-btn a:focus { box-shadow: none; background-color: #2E2E2E; }
.testimonials .section-header .slider-nav-btn a:focus svg { color: #FCA600; }
.testimonials .section-header .slider-nav-btn a:active { box-shadow: none; background-color: #1B1718; transition: all 1s; }
.testimonials .carousel-inner .card { transition: all 500ms; flex: 0 0 31.80%; max-width: 31.80%; margin: 0.8rem; backface-visibility: hidden; overflow: hidden; }
.testimonials .carousel-inner .card .card-body .card-text { border-left: 2px solid #ddd; padding-left: 1rem; }
.testimonials .carousel-inner .card .card-footer { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; background: transparent; border-top: 0; }
.testimonials .carousel-inner .card .card-footer .user-profile { display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; }
.testimonials .carousel-inner .card .card-footer .user-profile .user-img { width: 2rem; margin-right: 0.5rem; }
.testimonials .carousel-inner .card .card-footer .user-profile .user-img img { border-radius: 5rem; }
.testimonials .carousel-inner .card .card-footer .user-profile .user-details h6 { margin: 0; color: #FCA600; font-size: 0.8rem; }
.testimonials .carousel-inner .card .card-footer .user-profile .user-details p { margin: 0; font-size: 10px; }
.testimonials .carousel-inner .card .card-footer .star-rating { display: flex; flex-wrap: wrap; }
.testimonials .carousel-inner .card .card-footer .star-rating svg { width: 1rem; height: 1rem; color: #FCA600; margin: 0 0.15rem; }
@media (min-width: 768px) { .testimonials .carousel-inner .carousel-item-right.active, .testimonials .carousel-inner .carousel-item-next { transform: translateX(34%); }
  .testimonials .carousel-inner .carousel-item-left.active, .testimonials .carousel-inner .carousel-item-prev { transform: translateX(-34%); } }
@media (min-width: 992px) { .testimonials .carousel-inner .carousel-item-right.active, .testimonials .carousel-inner .carousel-item-next { transform: translateX(34%); }
  .testimonials .carousel-inner .carousel-item-left.active, .testimonials .carousel-inner .carousel-item-prev { transform: translateX(-34%); } }
@media (max-width: 768px) { .testimonials .carousel-inner .carousel-item > div { display: block; }
  .testimonials .carousel-inner .carousel-item > div:first-child { display: block; }
  .testimonials .carousel-control-next, .testimonials .carousel-control-prev { top: 42%; bottom: 42%; width: 2.5rem; } }
@media (max-width: 551px) { .testimonials .carousel-inner .carousel-item-right.active, .testimonials .carousel-inner .carousel-item-next { transform: translateX(100%); }
  .testimonials .carousel-inner .carousel-item-left.active, .testimonials .carousel-inner .carousel-item-prev { transform: translateX(-100%); }
  .testimonials .carousel-inner .carousel-item > div { display: none; }
  .testimonials .carousel-inner .carousel-item > div:first-child { display: block; } }
.testimonials .carousel-inner .carousel-item.active, .testimonials .carousel-inner .carousel-item-next, .testimonials .carousel-inner .carousel-item-prev { display: flex; justify-content: space-between; }
.testimonials .carousel-inner .carousel-item-right, .testimonials .carousel-inner .carousel-item-left { transform: translateX(0); }

/**** CONTACT SECTION ****/
.contact-section .section-header { justify-content: center; }
.contact-section .map-loc { padding: 0.5rem; margin-top: 0.5rem; }
.contact-section .map-loc .card-img-top { border-radius: 0; }
.contact-section form .form-group { margin: 0.8rem 0; }
.contact-section form .form-group label { margin: 0; font-weight: 500; }
.contact-section form .form-group input, .contact-section form .form-group textarea { border-radius: 0; border-color: #1B1718; }
.contact-section form .btn { width: 10rem; margin: 1rem 0 0 0; display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; font-size: 1rem; }
.contact-section .contact-details { padding: 0.5rem 0; }
.contact-section .contact-details ul { list-style: none; padding: 0; }
.contact-section .contact-details ul li { margin: 1.3rem 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; }
.contact-section .contact-details ul li .contact-icons { padding: 0.5rem; border: 1px solid #FCA600; border-radius: 5rem; }
.contact-section .contact-details ul li .contact-icons svg { width: 1.5rem; height: 1.5rem; color: #FCA600; }
.contact-section .contact-details ul li p { margin: 0 1rem; font-size: 0.8rem; }

/**** FOOTER *****/
footer { margin: 0; padding: 3rem 5rem 1rem; background-color: #1B1718; }
footer .footer-sec-title { font-family: "DM Serif Display", serif; text-transform: capitalize; color: #FCA600; font-size: 1.2rem; margin: 1rem 0; }
footer ul { padding: 0; list-style: none; }
footer ul li { margin: 0.5rem 0; }
footer ul li a { color: #fff; font-size: 0.9rem; }
footer ul li a:hover, footer ul li a:focus { color: #FCA600; }
footer label { color: #fff; }
footer .form-control { border: 2px solid #444444; border-radius: 0; background-color: transparent; transition: all 500ms; }
footer .footer-ftr { margin: 2rem 0 1rem; padding: 1.5rem 0 0.5rem; border-top: 1px solid #444; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
footer .footer-ftr .social-links { width: 7rem; display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; }
footer .footer-ftr .social-links a { color: transparent; }
footer .footer-ftr .social-links a img { width: 1.2rem; height: 1.2rem; }
footer .footer-ftr p { color: #fff; font-size: 0.8rem; }
footer .form-control:focus { background: transparent; box-shadow: none; border-color: #FCA600; color: #fff; font-weight: 300; }
footer form { position: relative; }
footer svg { position: absolute; right: 1rem; bottom: 0.65rem; color: #FCA600; width: 1.2rem; height: 1.2rem; }

/**** CONTACT PAGE ****/
.contact-page .map-loc { margin-top: 5rem; }

/**** ABOUT PAGE ****/
.about-page .esquare-intro .short-intro { width: 40%; }
.about-page .esquare-intro .section-body { align-items: center; }
.about-page .esquare-intro .section-body .explore-btn { height: 3rem; }
.about-page .our-awards { background-color: #f9f9f9; }
.about-page .our-awards .awards-body { height: auto; overflow: auto; }
.about-page .our-awards .awards-body .card { width: 55%; float: left; }
.about-page .our-awards .awards-body .card .card-img-overlay { padding: 0; background-color: rgba(0, 0, 0, 0.95); }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-indicators { align-items: center; margin-top: 1rem; right: 8%; left: inherit; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-indicators p { margin: 0 1rem 0 0; color: #2E2E2E; font-size: 0.8rem; letter-spacing: 1px; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-indicators p span { margin: 0 0.15rem; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-indicators p span:first-child { color: #fff; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-indicators li { width: 0.375rem; height: 0.375rem; border-radius: 5rem; margin-right: 0.5rem; margin-left: 0.5rem; border-top: none; border-bottom: none; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item { padding: 4rem; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul { list-style: none; padding: 0; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li { display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center; margin: 0.5rem 0; padding: 0.5rem 0; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-date { color: #fff; font-weight: 200; margin: 0 3rem 0 0; border-top: 1px solid #2E2E2E; padding-top: 1rem; height: 3.5rem; font-size: 0.8rem; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-details { display: inline-flex; padding: 0.5rem 0; border-top: 1px solid #2E2E2E; width: 63%; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-details span { font-family: "DM Serif Display", serif; color: #FCA600; margin-right: 1rem; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-details p { color: #fff; margin: 0; font-weight: 200; font-size: 0.8rem; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-details p:last-child { font-family: "DM Serif Display", serif; font-style: italic; color: #717171; margin: 0; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li:first-child .award-date, .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li:first-child .award-details { border-top: 3px solid #2E2E2E; }
.about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-control-next, .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-control-prev { display: none; }
.about-page .our-awards .awards-body .award-img { width: 55%; float: right; background: transparent; margin: 6rem 0 2rem -12rem; z-index: 9; }
.about-page .our-awards .awards-body .award-img .card-img-top { border-radius: 0; }

/**** PROJECTS PAGE ****/
.projects-section .card { margin: 1rem 0; }
.projects-section .card .card-body { padding: 0.5rem 0; margin-bottom: 0.5rem; }
.projects-section .card .card-body .card-title { color: #FCA600; font-family: "DM Serif Display", serif; font-size: 1.8rem; margin: 0; }
.projects-section .card .card-body .card-title span { color: #1B1718; margin-right: 1rem; }
.projects-section .card .card-body a { color: #FCA600; font-size: 0.8rem; margin-left: 3rem; }
.projects-section .card .card-body a span { border-bottom: 1px solid #FCA600; padding-bottom: 0.25rem; }
.projects-section .card .card-body a svg { width: 0.8rem; height: 0.8rem; margin-left: 0.5rem; }
.projects-section .card .card-body a:hover, .projects-section .card .card-body a:focus { text-decoration: none; }
.projects-section .card .card-img-top { border-radius: 0; }

/**** NEWS PAGE ****/
.news-section .news-thumbnail { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 2.5rem 0; margin: 1rem 0; border-bottom: 1px solid #ddd; }
.news-section .news-thumbnail .news-details { width: 40%; height: auto; overflow: auto; }
.news-section .news-thumbnail .news-details .news-cat { letter-spacing: 5px; text-transform: uppercase; font-size: 0.8rem; margin-bottom: 1rem; }
.news-section .news-thumbnail .news-details .card-title { font-family: "DM Serif Display", serif; font-size: 2rem; }
.news-section .news-thumbnail .news-details .card-link { color: #FCA600; font-size: 0.8rem; border-bottom: 1px solid #FCA600; }
.news-section .news-thumbnail .article-photo { width: 40%; height: auto; overflow: auto; }
.news-section .news-thumbnail .article-photo .card-img { border-radius: 0; }
.news-section .news-thumbnail .article-photo .card-img-overlay { border-radius: 0; top: inherit; }
.news-section .news-thumbnail .article-photo .card-img-overlay .btn-group { border-radius: 5rem; height: auto; overflow: auto; }
.news-section .news-thumbnail .article-photo .card-img-overlay .btn-group .btn-secondary { background-color: #fff; color: #1B1718; font-size: 0.8rem; font-weight: 500; border: none; border-radius: 0; padding: 0.6rem 1rem; transition: all 500ms; text-transform: uppercase; }
.news-section .news-thumbnail .article-photo .card-img-overlay .btn-group .btn-secondary svg { color: #FCA600; margin-right: 0.25rem; transition: all 500ms; }
.news-section .news-thumbnail .article-photo .card-img-overlay .btn-group .btn-secondary:hover, .news-section .news-thumbnail .article-photo .card-img-overlay .btn-group .btn-secondary:focus { color: #FCA600; background: #1B1718; }
.news-section .news-thumbnail .article-photo .card-img-overlay .btn-group .btn-secondary:hover svg, .news-section .news-thumbnail .article-photo .card-img-overlay .btn-group .btn-secondary:focus svg { color: #fff; }
.news-section .pagination { justify-content: center; }
.news-section .pagination .page-item { margin: 0; }
.news-section .pagination .page-item .page-link { border: none; color: #1B1718; transition: all 500ms; border-radius: 8px; font-size: 0.8rem; font-weight: 600; }
.news-section .pagination .page-item:hover .page-link, .news-section .pagination .page-item:focus .page-link { padding: .5rem .75rem; background-color: #fff; color: #FCA600; border-radius: 8px; box-shadow: none; }
.news-section .pagination .page-item:hover .page-link:focus, .news-section .pagination .page-item:focus .page-link:focus { box-shadow: none; }
.news-section .pagination .page-item.active .page-link { background-color: #FCA600; border-radius: 8px; color: #fff; }
.news-section .pagination .page-item:first-child .page-link, .news-section .pagination .page-item:last-child .page-link { color: #FCA600; font-size: 2rem; line-height: 0.5; font-weight: 300; }

/**** BUYERS GUIDE PAGE ****/
.tax-benefits .tax-thumbnail { display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center; }
.tax-benefits .tax-thumbnail .tax-details { width: 55%; background-color: #F7F7F7; }
.tax-benefits .tax-thumbnail .tax-details .card-body { height: 28rem; overflow: auto; }
.tax-benefits .tax-thumbnail .tax-details .card-body .card-text { font-size: 0.9rem; font-weight: 300; }
.tax-benefits .tax-thumbnail .tax-details .card-body .card-title { font-size: 1rem; text-transform: uppercase; color: #FCA600; }
.tax-benefits .tax-thumbnail .tax-details .card-body ul { list-style: none; padding: 0; }
.tax-benefits .tax-thumbnail .tax-details .card-body ul li { display: inline-flex; }
.tax-benefits .tax-thumbnail .tax-details .card-body ul li span { margin: 0 0.5rem; }
.tax-benefits .tax-thumbnail .tax-details .card-body::-webkit-scrollbar { width: 5px; background-color: transparent; }
.tax-benefits .tax-thumbnail .tax-details .card-body::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); background-color: #FCA600; }
.tax-benefits .tax-thumbnail .tax-details .card-body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #ddd; }
.tax-benefits .tax-thumbnail .tax-photo { width: 45%; }
.tax-benefits .tax-thumbnail .tax-photo .card-img { border-radius: 0; }
.tax-benefits .tax-thumbnail .tax-photo .card-img-overlay { background: -webkit-linear-gradient(top, black, rgba(0, 0, 0, 0)); background: -o-linear-gradient(top, black, rgba(0, 0, 0, 0)); background: -moz-linear-gradient(top, black, rgba(0, 0, 0, 0)); background: linear-gradient(to top, black, rgba(0, 0, 0, 0)); display: flex; align-items: flex-end; justify-content: center; }
.tax-benefits .tax-thumbnail .tax-photo .card-img-overlay .card-title { font-family: "DM Serif Display", serif; text-align: center; }
.tax-benefits .tax-thumbnail:nth-child(odd) { flex-direction: row-reverse; }

/**** HOME LOAN PAGE ****/
.home-loans-wrapper .badge-img { margin: 0 0 1rem 0; }
.home-loans-wrapper .badge-img img { width: 12rem; }
.home-loans-wrapper .loan-details { margin-bottom: 2rem; }
.home-loans-wrapper .loan-details .section-header { margin-bottom: 1rem; }
.home-loans-wrapper .loan-details .card-body { padding: 0; }
.home-loans-wrapper .loan-details .card-body ul.uniq li { display: inline-flex; }
.home-loans-wrapper .loan-details .card-body ul { list-style: none; padding: 0; display: grid; }
.home-loans-wrapper .loan-details .card-body ul li span { margin-right: 0.5rem; }
.home-loans-wrapper .loan-details .card-body ul li ol { display: grid; list-style: none; }
.home-loans-wrapper .loan-details .card-body ul li ol li { font-size: 0.8rem; }
.home-loans-wrapper .loan-details .card-body .card-title { font-size: 1.1rem; font-weight: 500; margin-bottom: 0.25rem; }
.home-loans-wrapper .loan-details .card-body p { font-weight: 300; }
.home-loans-wrapper .home-loan-form { background-color: #f9f9f9; border-radius: 0.8rem; height: auto; overflow: auto; }
.home-loans-wrapper .home-loan-form .section-header { background-color: #f1f1f1; padding: 1.25rem; margin-bottom: 0; }
.home-loans-wrapper .home-loan-form .section-header .section-title-sm { margin: 0; }
.home-loans-wrapper .home-loan-form form { padding: 1.25rem; }
.home-loans-wrapper .home-loan-form form .form-group { margin-bottom: 1.25rem; }
.home-loans-wrapper .home-loan-form form .form-group label { margin-bottom: 0.25rem; }
.home-loans-wrapper .home-loan-form form .form-group .form-control { border-radius: 0; border-color: #1B1718; background-color: transparent; color: #1B1718; }
.home-loans-wrapper .home-loan-form form .btn { margin: 0; padding-left: 0.6rem; }
.home-loans-wrapper .home-loan-form form .btn svg { margin-left: 1rem; }

/**** PROJECT DETAILS ****/
.project-details-page .master-slider .carousel { position: relative; /* medium - display 2  */ /* large - display 3 */ }
@media (min-width: 768px) { .project-details-page .master-slider .carousel .carousel-inner .carousel-item-right.active, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-next { transform: translateX(50%); }
  .project-details-page .master-slider .carousel .carousel-inner .carousel-item-left.active, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-prev { transform: translateX(-50%); } }
@media (min-width: 992px) { .project-details-page .master-slider .carousel .carousel-inner .carousel-item-right.active, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-next { transform: translateX(34%); }
  .project-details-page .master-slider .carousel .carousel-inner .carousel-item-left.active, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-prev { transform: translateX(-34%); } }
@media (max-width: 768px) { .project-details-page .master-slider .carousel .carousel-inner .carousel-item > div { display: block; }
  .project-details-page .master-slider .carousel .carousel-inner .carousel-item > div:first-child { display: block; }
  .project-details-page .master-slider .carousel .carousel-control-next, .project-details-page .master-slider .carousel .carousel-control-prev { top: 42%; bottom: 42%; width: 2.5rem; } }
@media (max-width: 551px) { .project-details-page .master-slider .carousel .carousel-inner .carousel-item-right.active, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-next { transform: translateX(100%); }
  .project-details-page .master-slider .carousel .carousel-inner .carousel-item-left.active, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-prev { transform: translateX(-100%); }
  .project-details-page .master-slider .carousel .carousel-inner .carousel-item > div { display: none; }
  .project-details-page .master-slider .carousel .carousel-inner .carousel-item > div:first-child { display: block; } }
.project-details-page .master-slider .carousel .carousel-inner .carousel-item.active, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-next, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-prev { display: flex; justify-content: space-between; }
.project-details-page .master-slider .carousel .carousel-inner .carousel-item-right, .project-details-page .master-slider .carousel .carousel-inner .carousel-item-left { transform: translateX(0); }
.project-details-page .master-slider .slider-ctrl { position: absolute; bottom: 0.35rem; right: 3rem; z-index: 99; background-color: #fff; }
.project-details-page .master-slider .slider-ctrl a { background-color: #fff; border-radius: 0; transition: all 500ms; margin: 0; display: initial; }
.project-details-page .master-slider .slider-ctrl a svg { width: 1.5rem; height: 1.5rem; color: #FCA600; transition: all 500ms; }
.project-details-page .master-slider .slider-ctrl a:nth-child(2) { border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
.project-details-page .master-slider .slider-ctrl a:hover, .project-details-page .master-slider .slider-ctrl a:focus { background-color: #1B1718; border-radius: 0; box-shadow: none; }
.project-details-page .master-slider .slider-ctrl a:hover svg, .project-details-page .master-slider .slider-ctrl a:focus svg { color: #FCA600; }
.project-details-page .utilities { background-color: #f9f9f9; }
.project-details-page .utilities ul { list-style: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.project-details-page .utilities ul li { display: inline-flex; width: 28%; align-items: center; margin: 1rem; }
.project-details-page .utilities ul li img { width: 2rem; margin-right: 0.5rem; }
.project-details-page .utilities ul li span { font-size: 1rem; font-weight: 500; }
.project-details-page .utilities .section-header { justify-content: flex-end; text-align: right; margin: 0; }
.project-details-page .utilities .section-header .section-title-md { text-align: right; margin-bottom: 1rem; }
.project-details-page .utilities .uniq-grid { display: flex; align-items: center; }
.project-details-page .work-masterpiece { background-color: #fff; }
.project-details-page .work-masterpiece .section-header { margin: 0; }
.project-details-page .work-masterpiece .section-header .section-title-md { width: 70%; margin-bottom: 1rem; }
.project-details-page .work-masterpiece .section-header p { margin: 0; }
.project-details-page .work-masterpiece .carousel-inner { width: 100%; }
.project-details-page .work-masterpiece .carousel-inner .card { border-top-left-radius: 0.15rem; border-top-right-radius: 0.15rem; }
.project-details-page .work-masterpiece .carousel-inner .card .card-img { border: none; }
.project-details-page .work-masterpiece .carousel-inner .card .card-body { padding: 0.8rem; position: absolute; bottom: 0; background: rgba(0, 0, 0, 0.6); left: 0; right: 0; transition: all 500ms; }
.project-details-page .work-masterpiece .carousel-inner .card .card-body .card-title { color: #fff; font-size: 0.9rem; font-weight: 300; text-align: left; margin: 0; transition: all 500ms; }
.project-details-page .work-masterpiece .carousel-inner .card:hover .card-body { background-color: #FCA600; }
.project-details-page .work-masterpiece .carousel-inner .card:hover .card-body .card-title { color: #fff; }
.project-details-page .work-masterpiece .carousel-inner .card:first-child .card-body { padding: 1.1rem; }
.project-details-page .work-masterpiece .carousel-inner .card:first-child .card-body .card-title { font-size: 1.1rem; }
.project-details-page .work-masterpiece .slider-ctrl { top: 0.7rem; right: 0; }
.project-details-page .work-masterpiece .slider-ctrl a { background-color: #FCA600; }
.project-details-page .work-masterpiece .slider-ctrl a svg { color: #fff; }
.project-details-page .work-masterpiece .slider-ctrl a:hover, .project-details-page .work-masterpiece .slider-ctrl a:focus { background-color: #1B1718; }
.project-details-page .work-masterpiece .slider-ctrl a:hover svg, .project-details-page .work-masterpiece .slider-ctrl a:focus svg { color: #FCA600; }
.project-details-page .work-masterpiece .uniq-grid { display: flex; align-items: center; }
.project-details-page .floor-plan .carousel-inner .carousel-item.active, .project-details-page .floor-plan .carousel-inner .carousel-item-next, .project-details-page .floor-plan .carousel-inner .carousel-item-prev { display: flex; justify-content: space-between; }
.project-details-page .floor-plan .carousel-inner .carousel-item-right, .project-details-page .floor-plan .carousel-inner .carousel-item-left { transform: translateX(0); }
.project-details-page .floor-plan .slider-footer { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 0.5rem 0; }
.project-details-page .floor-plan .slider-footer a { margin: 0; letter-spacing: 1px; font-weight: 400; color: #2E2E2E; }
.project-details-page .floor-plan .slider-footer .slider-ctrl { text-align: right; margin: 0.5rem 0; }
.project-details-page .floor-plan .slider-footer .slider-ctrl a { background-color: #FCA600; padding: 0.25rem 0.5rem; border-radius: 0; transition: all 500ms; }
.project-details-page .floor-plan .slider-footer .slider-ctrl a svg { color: #fff; width: 1.5rem; height: 1.5rem; transition: all 500ms; }
.project-details-page .floor-plan .slider-footer .slider-ctrl a:hover { background-color: #1B1718; }
.project-details-page .floor-plan .slider-footer .slider-ctrl a:hover svg { color: #fff; }
.project-details-page .floor-plan .slider-footer .slider-ctrl a:focus { box-shadow: none; background-color: #1B1718; }
.project-details-page .floor-plan .slider-footer .slider-ctrl a:focus svg { color: #fff; }
.project-details-page .floor-plan .slider-footer .slider-ctrl a:active { box-shadow: none; background-color: #1B1718; transition: all 1s; }
.project-details-page .floor-plan .uniq-grid { display: flex; align-items: center; }
.project-details-page .floor-plan .section-header .section-title-md { width: 40%; margin-bottom: 1rem; }
.project-details-page .floor-plan .section-header ul { list-style: none; padding: 0; display: inline-flex; }
.project-details-page .floor-plan .section-header ul li { width: 8rem; overflow: auto; border-radius: 5rem; margin: 0.5rem; height: auto; display: flex; flex-direction: column; }
.project-details-page .floor-plan .section-header ul li p { margin: 0; height: 4rem; font-weight: 500; display: flex; align-items: center; justify-content: center; }
.project-details-page .floor-plan .section-header ul li p:first-child { background-color: #1B1718; color: #FCA600; font-size: 1.2rem; }
.project-details-page .floor-plan .section-header ul li p:last-child { background-color: #FCA600; color: #1B1718; font-size: 0.8rem; }
.project-details-page .floor-plan .section-header ul li:last-child p:first-child { font-size: 0.8rem; }

/**** 3D TOUR PAGE ****/
.tour-3d-page .tour-tabs .uniq-grid { display: flex; align-items: center; }
.tour-3d-page .tour-tabs .nav.nav-pills .nav-link { color: #a4a2a3; font-family: "DM Serif Display", serif; font-size: 1.2rem; transition: all 250ms; }
.tour-3d-page .tour-tabs .nav.nav-pills .nav-link span { margin: 0 0.5rem; }
.tour-3d-page .tour-tabs .nav.nav-pills .nav-link.active { background-color: transparent; color: #FCA600; font-size: 1.8rem; }
.tour-3d-page .tour-tabs .tab-content .card .card-img-top { border-radius: 0; position: relative; }
.tour-3d-page .tour-tabs .tab-content .card .img-overlay { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0, 0, 0, 0.6); display: flex; justify-content: center; align-items: center; flex-direction: column; }
.tour-3d-page .tour-tabs .tab-content .card .img-overlay a { background-color: #fff; color: #1B1718; font-weight: 500; display: inline-grid; text-align: center; border-radius: 5rem; padding: 1rem 0.5rem; transition: all 500ms; margin-bottom: 0.5rem; }
.tour-3d-page .tour-tabs .tab-content .card .img-overlay a svg { width: 1.5rem; height: 1.5rem; color: #FCA600; margin: 0 auto; }
.tour-3d-page .tour-tabs .tab-content .card .img-overlay a span { font-size: 0.8rem; }
.tour-3d-page .tour-tabs .tab-content .card .img-overlay a:hover, .tour-3d-page .tour-tabs .tab-content .card .img-overlay a:focus { background-color: #000; color: #fff; }
.tour-3d-page .tour-tabs .tab-content .card .img-overlay p { font-size: 0.8rem; letter-spacing: 2px; color: #fff; }
.tour-3d-page .explore-view.section-m-p { background-color: #F9F9F9; margin-bottom: 0; }
.tour-3d-page .explore-view.section-m-p .section-header .section-title-md { margin: 1.5rem auto 0.5rem; }
.tour-3d-page .explore-view.section-m-p .card .card-img-top { border-radius: 0; position: relative; }
.tour-3d-page .explore-view.section-m-p .card .img-overlay { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0, 0, 0, 0.6); display: flex; justify-content: center; align-items: center; flex-direction: column; }

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 767px) { .navbar { padding: 1rem 1rem; }
  .navbar .navbar-nav .nav-item { width: 100%; margin-bottom: 0.35rem; }
  .navbar .navbar-nav .nav-item .dropdown-toggle::after { display: inline-block; position: inherit; bottom: inherit; left: inherit; }
  .section-m-p { margin: 1rem 0; padding: 1rem 1rem; }
  .section-header { margin-bottom: 1rem; }
  .section-header .section-title-md { font-size: 1.8rem; }
  .section-header .section-title-sm { font-size: 1.5rem; }
  .explore-btn { margin: 0.5rem 0; }
  .explore-btn svg { width: 1.5rem; height: 1.5rem; padding: 0.25rem; }
  .page-mast-head .card-img-overlay .page-title { font-size: 2rem; }
  .page-mast-head .card-img-overlay .page-title:before { margin: 3.2rem auto -3.2rem; }
  footer { margin: 0; padding: 2rem 1rem 1rem; }
  footer ul li { margin: 0.5rem 1rem 0.5rem 0; float: left; }
  .home_main_slider .main_slider_header { margin: 0; }
  .home_main_slider .main_slider_header .main_slider_controls p { font-size: 1.5rem; }
  .home_main_slider .main_slider_header .slider-nav-btn { margin: 0 0.75rem; }
  .home_main_slider .main_slider_header .slider-nav-btn a { margin: 0 0.25rem; }
  .home_main_slider .explore-btn { font-size: 0.8rem; }
  .home_main_slider { padding: 2rem 1rem 0rem 1rem; }
  .home_main_slider .main_slider_header h1 { font-size: 2rem; width: 100%; }
  .home_main_slider .card .card-body { height: auto; }
  .home_main_slider .card .card-body .card-text { height: auto; }
  .home_main_slider .card .btn-overlay { bottom: 0rem; right: 0.85rem; margin: 0; }
  .home_main_slider .card .img-overlay a { padding: 0.5rem 0rem; }
  .esquare-intro .short-intro { width: 100%; }
  .esquare-intro .experience-intro { width: 100%; }
  .esquare-intro .experience-intro h3 { font-size: 5rem; }
  .work-masterpiece .carousel-inner { width: 100%; }
  .work-masterpiece .carousel-inner .carousel-item .card:first-child { flex: 0 0 100%; max-width: 100%; }
  .work-masterpiece .carousel-inner .carousel-item .card { flex: 0 0 100%; max-width: 100%; }
  .work-masterpiece .carousel-inner .card { width: 100%; margin: 0; }
  .work-masterpiece .carousel-inner .carousel-item .card .img-fluid { width: 100%; }
  .latest-news .e-uniq { margin-top: 0rem; }
  .latest-news .e-uniq .card { margin: 1.5rem 0; }
  .testimonials .carousel-inner .card { flex: 0 0 100%; max-width: 100%; margin: 1rem 0; }
  .testimonials .section-header div > span { height: 1.7rem; font-size: 3rem; }
  .testimonials .section-header .slider-nav-btn { margin: 0.5rem 0 0 0; }
  .about-page .esquare-intro .short-intro { width: 100%; }
  .about-page .esquare-intro .section-body .explore-btn { height: auto; margin: 1rem auto 0; }
  .about-page .our-awards .awards-body .card { width: 100%; }
  .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item { padding: 0.5rem; }
  #awardSlider { position: relative; height: 100%; }
  .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul { margin-bottom: 0.5rem; }
  .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li { margin: 0; padding: 0; }
  .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-date { display: block; margin: 0 0.5rem 0 0; }
  .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-details { width: 78%; }
  .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item ul li .award-details span { display: none; }
  .about-page .our-awards .awards-body .award-img { margin: 0; display: none; }
  .home-loans-wrapper .loan-details .section-header { margin-bottom: 0.5rem; }
  .home-loans-wrapper .loan-details ul { margin-bottom: 0; }
  .home-loans-wrapper .loan-details .card-body .card-title { font-size: 1rem; }
  .projects-section .card .card-body .card-title { font-size: 1.5rem; }
  .projects-section .card .card-body a { margin-left: 2.5rem; }
  .project-details-page .utilities ul { height: auto; overflow: auto; justify-content: space-around; }
  .project-details-page .utilities ul li { width: 40%; margin: 1rem 0.5rem; }
  .project-details-page .floor-plan .row { flex-direction: column-reverse; }
  .project-details-page .floor-plan .section-header .section-title-md { width: 100%; }
  .project-details-page .floor-plan .section-header ul { flex-wrap: wrap; justify-content: space-around; }
  .project-details-page .work-masterpiece .section-header p { margin: 0 0 0.5rem; }
  .tour-3d-page .tour-tabs .nav.nav-pills { margin-bottom: 1rem; }
  .tour-3d-page .tour-tabs .nav.nav-pills .nav-link.active { font-size: 1.5rem; }
  .tour-3d-page .tour-tabs .nav.nav-pills .nav-link { font-size: 1rem; }
  .news-section .news-thumbnail { padding: 1rem 0; margin: 1rem 0; }
  .news-section .news-thumbnail .news-details { width: 100%; }
  .news-section .news-thumbnail .news-details .card-body { padding: 0; }
  .news-section .news-thumbnail .news-details .card-title { font-size: 1.5rem; }
  .news-section .news-thumbnail .article-photo { width: 100%; margin-top: 1rem; }
  .contact-page .map-loc { margin-top: 2rem; padding: 0; }
  .tax-benefits .tax-thumbnail .tax-details { width: 100%; }
  .tax-benefits .tax-thumbnail .tax-photo { width: 100%; }
  .tax-benefits .tax-thumbnail { margin-bottom: 2rem; flex-direction: column-reverse; }
  .tax-benefits .tax-thumbnail:nth-child(odd) { flex-direction: column-reverse; }
  .tax-benefits .tax-thumbnail .tax-details .card-body { height: auto; }
  .tax-benefits .tax-thumbnail .tax-details .card-body .card-title { margin: 1rem 0 0.35rem; }
  .tax-benefits .tax-thumbnail .tax-photo .card-img-overlay .card-title { font-size: 1.5rem; } }
@media only screen and (min-width: 768px) and (max-width: 1020px) { .navbar { padding: 1.5rem 1rem; }
  .navbar .navbar-nav .nav-item { width: 100%; margin-bottom: 0.35rem; }
  .navbar .navbar-nav .nav-item .dropdown-toggle::after { display: inline-block; position: inherit; bottom: inherit; left: inherit; }
  .section-m-p { margin: 2rem 0; padding: 1rem 1rem; }
  .section-header .section-title-md { font-size: 2rem; }
  .section-header .section-title-sm { font-size: 1.5rem; }
  .home_main_slider { padding: 2rem 1rem 0rem 1rem; }
  .home_main_slider .main_slider_header h1 { font-size: 2.1rem; width: 40%; }
  .home_main_slider .slider-nav-btn a { padding: 0.25rem; margin: 0 0.15rem; }
  .home_main_slider .card .card-body { height: auto; }
  .home_main_slider .card .card-body .card-text { height: auto; }
  .esquare-intro .experience-intro { width: 44%; }
  .work-masterpiece .carousel-inner { width: 100%; }
  .work-masterpiece .carousel-inner .card { margin: 0.5rem; }
  .work-masterpiece .carousel-inner .carousel-item .card:first-child { flex: 0 0 36.33%; max-width: 36.33%; }
  .testimonials .carousel-inner .card .card-footer .star-rating { margin-top: 1rem; }
  .tax-benefits .tax-thumbnail .tax-details .card-body { height: 16rem; }
  .tax-benefits .tax-thumbnail .tax-photo .card-img-overlay .card-title { font-size: 1.2rem; }
  .project-details-page .floor-plan .section-header .section-title-md { width: 100%; margin-bottom: 1rem; }
  .project-details-page .floor-plan .section-header ul { flex-wrap: wrap; justify-content: space-around; }
  .project-details-page .floor-plan .section-header ul li { width: 5rem; }
  .project-details-page .floor-plan .section-header ul li p { height: 2.5rem; }
  .project-details-page .floor-plan .section-header ul li:last-child p:first-child { font-size: 0.6rem; }
  .tour-3d-page .tour-tabs .nav.nav-pills .nav-link { font-size: 1rem; }
  .tour-3d-page .tour-tabs .nav.nav-pills .nav-link.active { font-size: 1.5rem; }
  .about-page .esquare-intro .short-intro { width: 50%; }
  .esquare-intro .experience-intro h3 { font-size: 6rem; }
  .about-page .esquare-intro .section-body .explore-btn { margin: 0.5rem 0; }
  .about-page .our-awards .awards-body .card { width: 100%; }
  .about-page .our-awards .awards-body .award-img { display: none; }
  .news-section .news-thumbnail { padding: 0.5rem 0; }
  .news-section .news-thumbnail .news-details { width: 50%; }
  .news-section .news-thumbnail .news-details .card-title { font-size: 1.5rem; }
  .news-section .news-thumbnail .article-photo { width: 50%; }
  .testimonials .carousel-inner .card { flex: 0 0 30.52%; max-width: 30.52%; margin: 0 0.8rem 0.8rem; } }
@media only screen and (min-width: 1021px) and (max-width: 1260px) { .navbar { padding: 0rem 0.5rem; }
  .navbar .navbar-nav .nav-item:last-child .nav-link { padding: 1rem 0.5rem; }
  .navbar .navbar-nav .nav-item:last-child .nav-link:after { bottom: 0.5rem; }
  .section-header .section-title-md { font-size: 2rem; }
  .home_main_slider { padding: 2rem 1rem 0rem 1rem; }
  .home_main_slider .main_slider_header h1 { font-size: 2rem; }
  .home_main_slider .card .card-body { height: 21.8rem; }
  .home_main_slider .card .card-body .card-text { height: 11rem; margin-bottom: 1rem; }
  .section-m-p { margin: 2rem 0; padding: 2rem 2rem; }
  .esquare-intro .experience-intro { width: 38%; }
  .about-page .our-awards .awards-body .card .card-img-overlay .carousel .carousel-item { padding: 2rem; }
  .about-page .esquare-intro .experience-intro { width: 32%; }
  .project-details-page .floor-plan .section-header ul { flex-wrap: wrap; justify-content: space-around; }
  .project-details-page .floor-plan .section-header ul li { width: 5rem; }
  .project-details-page .floor-plan .section-header ul li p { height: 2.5rem; }
  .project-details-page .floor-plan .section-header ul li:last-child p:first-child { font-size: 0.6rem; }
  .tax-benefits .tax-thumbnail .tax-details .card-body { height: 20rem; }
  .testimonials .carousel-inner .card { flex: 0 0 31%; max-width: 31%; margin: 0.9rem; }
  .work-masterpiece .slider-ctrl { top: 0.5rem; right: 0rem; } }

/*# sourceMappingURL=style.css.map */
